* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Darker background color */
    color: #fff; /* Light text color */
    overflow-x: hidden;
  }
  
  .box {
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(30, 30, 30, 0.9); /* Adjusted to a slightly lighter color */
  }
  
  .containerOne {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .actor {
    color: #fff;
  }
  
  .containerTwo {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .autocomplete {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .containerThree {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  @media screen and (max-width: 600px) {
    /* Adjust styles for screens with a maximum width of 600px */
    .containerThree {
      grid-template-columns: repeat(2, 1fr); /* Change the number of columns to 2 on smaller screens */
      gap: 10px;
    }
  }

  .box{
    width: 100%;
  }
  
  .cont {
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(30, 30, 30, 0.9); /* Adjusted to a slightly lighter color */
    transition: transform 0.2s, background-color 0.3s; /* Added transition for background-color */
    overflow: hidden; /* Ensure the overflow is hidden */
    }
  
  .cont:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.1); /* Faint, see-through white on hover */
  }
  
  .poster {
    width: 125px; /* Hard-coded poster size */
    height: 200px; /* Adjusted based on a common aspect ratio */
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover; /* Ensure uniform poster sizes */
    transition: .5s;
  }
  
  .main-poster {
    width: 250px; /* Hard-coded poster size */
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover; /* Ensure uniform poster sizes */
  }
  
  h2 {
    margin: 10px 0;
    font-size: 20px;
  }
  
  p {
    margin: 0;
  }
  
