/* CSS for the new webpage */
body {
    background-color: #121212;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 20%;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.containerOne {
    text-align: left;
}

h1 {
    font-size: 25px;
    margin: 10px 0;
    padding-bottom: 30px;
    border-radius: 8px;
}

.autocomplete {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #333;
    border-radius: 4px;
    width: calc(100% - 18px);
    margin-bottom: 30px;
    background-color: transparent;
    color: #fff;
}

.autocomplete:valid,
.autocomplete:focus,
.autocomplete:active {
    background-color: transparent !important; /* Use !important to override any conflicting styles */
}

p{
    font-size: 20px;
}

.toggle-switch-container {
    position: relative;
    display: inline-block;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    background-color: #8D86C9;
    border-radius: 25px;
    cursor: pointer;
}

.toggle-slider {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 16px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
    
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .box {
        width: 90%;
    }
}
