/* Basic styling for the game display */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    padding: 25px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

/* Loading screen styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999;
}

.loading p {
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

#games-container {
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 15px; /* Space between game divs */
}

.game {
    background-color: rgba(255,255,255,.7); /* Semi-transparent black */
    border-radius: 20px; /* Rounded corners */
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 225px; /* Make it wider than tall */
    height: 200px; /* Set a fixed height */
}

.team {
    width: 100%; /* 90% of the game div's width */
    height: 40%; /* Roughly 40% of the height of the game div */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and score */
    padding: 5px;
    color: white; /* Font color white */
    border-radius: 20px; /* Rounded corners */
    margin-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
}

.team img {
    height: 50px; /* Keep logo size */
    margin-right: 10px;
}

.score {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}

.game-date {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #121212; /* Font color white */
    margin-top: 5px; /* Space above the date */
    text-align: center; /* Center the date text */
}

/* For tablets */
@media (max-width: 1100px) {
    body{
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    

    #games-container {
        grid-template-columns: repeat(3, 1fr); /* 2 columns for tablets */
    }
}

@media (max-width: 860px) {

    #games-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    }
}

/* For mobile */
@media (max-width: 620px) {
    body{
        font-size: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .container{
        padding-left: 5px;
        padding-right: 5px;
    }
    #games-container {
        grid-template-columns: repeat(2, 1fr); /* 1 column for mobile */
    }

    .game {
      
        border-radius: 15px; /* Rounded corners */
        padding: 5px;
       
        width: 175px; /* Make it wider than tall */
        height: 175px; /* Set a fixed height */
    }
}
