body {
    font-family: "Roboto", sans-serif;
    background-color: #0d1117;
    color: #fff;
    margin: 0;
}

.head{
    text-align: center;
    margin: 50px;
    font-size: 35px;
}

.head h1{
    font-weight: 300;
}

.line{
    width: 80%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.projs{
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    width: 60%;
}

.projs h1{
    font-weight: lighter;
}

.projOne, .projTwo, .projThree, .projFour{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    border: 2px solid #733fc7;
    border-radius: 10px;
    cursor: pointer;
}

.projOne:hover, .projTwo:hover, .projThree:hover, .projFour:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 1000px) {

    .h1{
        font-size: 40px;
    }

    .content{
        width: 90%;
    }
    .projs{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .projOne, .projTwo, .projThree, .projFour{
        width: 275px;
        height: 150px;
    }
    
}
