

body {
    font-family: "Roboto", sans-serif;
    background-color: #1e1e2e;
    color: #fff;
    margin: 0;
}

.head{
    text-align: center;
    margin: 50px;
    font-size: 35px;
}

.head h1{
    font-weight: 200;
}

.line{
    width: 80%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projs{
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-bottom: 25px;
}

.projs h1{
    font-weight: 200;
}

.projOne, .projTwo, .projThree, .projFour, .projFive, .projSix, .projSeven, .projEight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 150px;
    border: 3px solid #181825;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: transform .07s linear, filter .1s ease-out, opacity .15s linear;
    background-size: contain;
}

.projThree{
    background-image: url(images/AHH.png);
}

.projOne{
    background-image: url(images/AL.png);
}

.projFour{
    background-image: url(images/SU.png);
}

.projTwo{
    background-image: url(images/WES.png);
}

.projFive{
    background-image: url(images/ANA.png);
}

.projSix{
    background-image: url(images/MOR.png);
}

.projSeven{
    background-image: url(images/SCC.png);
}

.projEight{
    background-image: url(images/TRAIN.png);
}

.projOne:hover, .projTwo:hover, .projThree:hover, .projFour:hover, .projFive:hover, .projSix:hover, .projSeven:hover, .projEight:hover{
    transform: scale(1.02);
    background-color: #fff;
}

@media screen and (max-width: 1560px) {
    .projOne, .projTwo, .projThree, .projFour, .projFive, .projSix, .projSeven, .projEight{
        
        width: 300px;
        height: 106px;
    }
}

@media screen and (max-width: 1175px) {

    .head{
        font-size: 20px;
    }

    .content{
        width: 100%;
        margin: 0;
        
    }

    .projs{
        grid-template-columns: auto auto;
    }
    

    
}

@media screen and (max-width: 800px) {

    .head{
        font-size: 20px;
    }

    .content{
        width: 100%;
        margin: 0;
        
    }
    .projs{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }

    
}



