*{
  margin: 0;
  padding: 0;
}

:root{
  --default: #0d1117;
  --empty: #3a3a3c;
  --wrong: #b59f3b;
  --right: #538d4e;
  --keyboard: #818384;
}

body{
  background-color: var(--default);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  max-width: 100%;
}

nav{
  height: 60px;
  text-align: center;
  border-bottom: 1px solid var(--empty);
  width: 100%;
  font-family: "Alfa Slab One", sans-serif;
}

nav h1{
  padding: 10px;
  font-size: 30px;
  font-weight: lighter;
}

.grid{
  padding: 40px 0 40px 0;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
  grid-gap: 5px;
}

.box{
  border: 2px solid var(--empty);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.box.empty{
  background: var(--empty);
}

.box.wrong{
  background: var(--wrong);
}

.box.right{
  background: var(--right);
}

.animated{
  animation: flip .5s ease;
}

@keyframes flip {
  0%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
}

.jiggle{
  animation: change .5s ease;
}

@keyframes change {
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(5px);
  }
  40%{
    transform: translateX(-5px);
  }
  60%{
    transform: translateX(5px);
  }
  80%{
    transform: translateX(-5px);
  }
  100%{
    transform: translateX(0);
  }

}

.grow{
  animation: big .25s ease;
}

@keyframes big {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.075);
  }
  100%{
    transform: scale(1);
  }
}

.keyboard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  padding: 5px;
  grid-gap: 5px;
}

.letter{
  background-color: var(--keyboard);
  border-radius: 5px;
  width: 32px;
  height: 45px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.letterButton{
  background-color: var(--keyboard);
  border-radius: 5px;
  width: 50px;
  height: 45px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.letterButton p{
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .grid{
    padding: 10px 0 10px 0;
  }
}
